/* normalize.css - 브라우저 기본 스타일 리셋 */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

::backdrop {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

/* HTML & Body */
html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  height: 100svh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography Reset */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Lists */
ol, ul, menu {
  list-style: none;
}

/* Media Elements */
img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

/* Form Elements */
button, input, select, optgroup, textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
}

::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
  margin-inline-end: 4px;
}

::placeholder {
  opacity: 1;
}

textarea {
  resize: vertical;
}

button {
  appearance: button;
  cursor: pointer;
}

input:where([type="button"], [type="reset"], [type="submit"]) {
  appearance: button;
}

/* 브라우저별 Input 스타일 제거 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Table */
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

/* Focus */
:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/* Hidden */
[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

/* Selection */
::selection {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

[scrollbar-width="none"] {
  scrollbar-width: none;
}

/* Focus Visible for Buttons & Links */
button,
a {
  outline-style: none;
}

button:focus-visible,
a:focus-visible {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: var(--color-white);
}
