/* Sets the default environment, including removing browser default styles, hiding scrollbars, and setting Lenis scroll. */

/* --- Box Sizing --- */
*, *:after, *:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

/* --- Default Resets --- */
li, ul, figure { 
    padding: 0; 
    margin: 0; 
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em, figcaption {
    padding: 0; 
    margin: 0; 
    font-style: normal; 
    letter-spacing: normal; 
    font-weight: unset; 
    line-height: unset;
}

/* --- HTML/Body Setup --- */
html {
    scroll-behavior: initial;
    width: 100%;
    min-height: 100%;
    scrollbar-width: none; /* Firefox */
}

body {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    min-height: 100%;
    position: relative;
    overscroll-behavior: none;
    -ms-overflow-style: none; /* IE & Edge */
}

/* Hide Scrollbar Chrome, Safari, Opera */
body::-webkit-scrollbar { display: none; }

main {
    box-sizing: border-box;
    overscroll-behavior: none;
}

.main-wrap {
    box-sizing: border-box;
}

/* --- Media Defaults --- */
canvas, img, video, picture, figure {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
}

svg {
    max-width: none;
    height: auto;
    box-sizing: border-box;
    vertical-align: middle;
}

audio, iframe {
    vertical-align: middle;
}

/* --- Container Utilities --- */
.fixed-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 375;
}

.hidden-container {
    opacity: 0;
    visibility: hidden;
}

/* --- Lenis Scroll --- */
html.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto; height: 100vh; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-scrolling iframe { pointer-events: none; }
