@layer properties {
    @supports (((-webkit-hyphens: none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
        *,:before,:after {
            --tw-translate-x:0;
            --tw-translate-y: 0;
            --tw-translate-z: 0;
            --tw-rotate-x: initial;
            --tw-rotate-y: initial;
            --tw-rotate-z: initial;
            --tw-skew-x: initial;
            --tw-skew-y: initial;
            --tw-border-style: solid;
            --tw-font-weight: initial;
            --tw-shadow: 0 0 transparent;
            --tw-shadow-color: initial;
            --tw-shadow-alpha: 100%;
            --tw-inset-shadow: 0 0 transparent;
            --tw-inset-shadow-color: initial;
            --tw-inset-shadow-alpha: 100%;
            --tw-ring-color: initial;
            --tw-ring-shadow: 0 0 transparent;
            --tw-inset-ring-color: initial;
            --tw-inset-ring-shadow: 0 0 transparent;
            --tw-ring-inset: initial;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-offset-shadow: 0 0 transparent;
            --tw-ease: initial;
            --tw-outline-style: solid
        }

        ::backdrop {
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-translate-z: 0;
            --tw-rotate-x: initial;
            --tw-rotate-y: initial;
            --tw-rotate-z: initial;
            --tw-skew-x: initial;
            --tw-skew-y: initial;
            --tw-border-style: solid;
            --tw-font-weight: initial;
            --tw-shadow: 0 0 transparent;
            --tw-shadow-color: initial;
            --tw-shadow-alpha: 100%;
            --tw-inset-shadow: 0 0 transparent;
            --tw-inset-shadow-color: initial;
            --tw-inset-shadow-alpha: 100%;
            --tw-ring-color: initial;
            --tw-ring-shadow: 0 0 transparent;
            --tw-inset-ring-color: initial;
            --tw-inset-ring-shadow: 0 0 transparent;
            --tw-ring-inset: initial;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-offset-shadow: 0 0 transparent;
            --tw-ease: initial;
            --tw-outline-style: solid
        }
    }
}

@layer theme {
    :root {
        --font-sans: var(--font-inter),ui-sans-serif,system-ui,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-mono: var(--font-ubuntu-mono),ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        --spacing: .0625rem;
        --font-weight-semibold: 600;
        --ease-in-out: cubic-bezier(.4,0,.2,1);
        --animate-pulse: pulse 1.5s cubic-bezier(.4,0,.6,1)infinite;
        --aspect-video: 16/9;
        --default-font-family: var(--font-sans);
        --default-mono-font-family: var(--font-mono);
        --fluid-min-w: var(--layout-min-w,375);
        --fluid-max-w: var(--layout-max-w,1600);
        --fluid-slope: calc((100vw - calc(var(--spacing)*var(--fluid-min-w)))/(var(--fluid-max-w) - var(--fluid-min-w)));
        --text-body-14: clamp(calc(var(--spacing)*12),calc(var(--spacing)*12) + (14 - 12)*var(--fluid-slope),calc(var(--spacing)*14));
        --text-body-14--font-weight: 400;
        --text-body-14--line-height: 1.3;
        --text-body-14--letter-spacing: normal;
        --layout-min-w: 375;
        --layout-max-w: 1600;
        --color-black: #232323;
        --color-white: #fff;
        --color-black-deep: #000;
        --color-grey: #797878;
        --radius-2: calc(var(--spacing)*2);
        --radius-4: calc(var(--spacing)*4);
        --radius-full: 9999px;
        --z-index-behind: -1
    }

    :host {
        --font-sans: var(--font-inter),ui-sans-serif,system-ui,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-mono: var(--font-ubuntu-mono),ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        --spacing: .0625rem;
        --font-weight-semibold: 600;
        --ease-in-out: cubic-bezier(.4,0,.2,1);
        --animate-pulse: pulse 1.5s cubic-bezier(.4,0,.6,1)infinite;
        --aspect-video: 16/9;
        --default-font-family: var(--font-sans);
        --default-mono-font-family: var(--font-mono);
        --fluid-min-w: var(--layout-min-w,375);
        --fluid-max-w: var(--layout-max-w,1600);
        --fluid-slope: calc((100vw - calc(var(--spacing)*var(--fluid-min-w)))/(var(--fluid-max-w) - var(--fluid-min-w)));
        --text-body-14: clamp(calc(var(--spacing)*12),calc(var(--spacing)*12) + (14 - 12)*var(--fluid-slope),calc(var(--spacing)*14));
        --text-body-14--font-weight: 400;
        --text-body-14--line-height: 1.3;
        --text-body-14--letter-spacing: normal;
        --layout-min-w: 375;
        --layout-max-w: 1600;
        --color-black: #232323;
        --color-white: #fff;
        --color-black-deep: #000;
        --color-grey: #797878;
        --radius-2: calc(var(--spacing)*2);
        --radius-4: calc(var(--spacing)*4);
        --radius-full: 9999px;
        --z-index-behind: -1
    }
}

@layer base {
    *,:after,:before {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }

    ::backdrop {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }

    ::file-selector-button {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }

    html {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        line-height: 1.5;
        font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
        font-feature-settings: var(--default-font-feature-settings,normal);
        font-variation-settings: var(--default-font-variation-settings,normal);
        -webkit-tap-highlight-color: transparent
    }

    :host {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        line-height: 1.5;
        font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
        font-feature-settings: var(--default-font-feature-settings,normal);
        font-variation-settings: var(--default-font-variation-settings,normal);
        -webkit-tap-highlight-color: transparent
    }

    hr {
        height: 0;
        color: inherit;
        border-top-width: 1px
    }

    abbr: where([title]) {
        -webkit-text-decoration:underline dotted;
        text-decoration: underline dotted
    }

    h1,h2,h3,h4,h5,h6 {
        font-size: inherit;
        font-weight: inherit
    }

    a {
        color: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        text-decoration: inherit
    }

    b,strong {
        font-weight: bolder
    }

    code,kbd,samp,pre {
        font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace);
        font-feature-settings: var(--default-mono-font-feature-settings,normal);
        font-variation-settings: var(--default-mono-font-variation-settings,normal);
        font-size: 1em
    }

    small {
        font-size: 80%
    }

    sub,sup {
        vertical-align: baseline;
        font-size: 75%;
        line-height: 0;
        position: relative
    }

    sub {
        bottom: -.25em
    }

    sup {
        top: -.5em
    }

    table {
        text-indent: 0;
        border-color: inherit;
        border-collapse: collapse
    }

    :-moz-focusring {
        outline: auto
    }

    progress {
        vertical-align: baseline
    }

    summary {
        display: list-item
    }

    ol,ul,menu {
        list-style: none
    }

    img,svg,video,canvas,audio,iframe,embed,object {
        vertical-align: middle;
        display: block
    }

    img,video {
        max-width: 100%;
        height: auto
    }

    button,input,select,optgroup,textarea {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: transparent;
        border-radius: 0
    }

    ::file-selector-button {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: transparent;
        border-radius: 0
    }

    :where(select: is([multiple],[size])) optgroup {
        font-weight:bolder
    }

    :where(select: is([multiple],[size])) optgroup option {
        padding-inline-start:20px
    }

    ::file-selector-button {
        margin-inline-end:4px}

    ::placeholder {
        opacity: 1
    }

    @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size:1px) {
        ::placeholder {
            color:currentColor
        }

        @supports (color: color-mix(in lab, red, red)) {
            ::placeholder {
                color:color-mix(in oklab,currentcolor 50%,transparent)
            }
        }
    }

    textarea {
        resize: vertical
    }

    ::-webkit-search-decoration {
        -webkit-appearance: none
    }

    ::-webkit-date-and-time-value {
        min-height: 1lh;
        text-align: inherit
    }

    ::-webkit-datetime-edit {
        display: inline-flex
    }

    ::-webkit-datetime-edit-fields-wrapper {
        padding: 0
    }

    ::-webkit-datetime-edit {
        padding-block:0}

    ::-webkit-datetime-edit-year-field {
        padding-block:0}

    ::-webkit-datetime-edit-month-field {
        padding-block:0}

    ::-webkit-datetime-edit-day-field {
        padding-block:0}

    ::-webkit-datetime-edit-hour-field {
        padding-block:0}

    ::-webkit-datetime-edit-minute-field {
        padding-block:0}

    ::-webkit-datetime-edit-second-field {
        padding-block:0}

    ::-webkit-datetime-edit-millisecond-field {
        padding-block:0}

    ::-webkit-datetime-edit-meridiem-field {
        padding-block:0}

    ::-webkit-calendar-picker-indicator {
        line-height: 1
    }

    :-moz-ui-invalid {
        box-shadow: none
    }

    button {
        appearance: button
    }

    input: where([type=button],[type=reset],[type=submit]) {
        appearance:button
    }

    ::file-selector-button {
        appearance: button
    }

    ::-webkit-inner-spin-button {
        height: auto
    }

    ::-webkit-outer-spin-button {
        height: auto
    }

    [hidden]: where(:not([hidden=until-found])) {
        display:none!important
    }
}

@layer components;@layer utilities {
    .pointer-events-none {
        pointer-events: none
    }

    .visible {
        visibility: visible
    }

    .absolute {
        position: absolute
    }

    .fixed {
        position: fixed
    }

    .fixed\! {
        position: fixed!important
    }

    .relative {
        position: relative
    }

    .static {
        position: static
    }

    .inset-0 {
        inset: calc(var(--spacing)*0)
    }

    .inset-8\! {
        inset: calc(var(--spacing)*8)!important
    }

    .inset-x-0 {
        inset-inline: calc(var(--spacing)*0)
    }

    .inset-x-4 {
        inset-inline: calc(var(--spacing)*4)
    }

    .top-0 {
        top: calc(var(--spacing)*0)
    }

    .top-1\/2 {
        top: 50%
    }

    .top-26 {
        top: calc(var(--spacing)*26)
    }

    .top-\[15\%\] {
        top: 15%
    }

    .top-\[20\%\] {
        top: 20%
    }

    .right-\[20\%\] {
        right: 20%
    }

    .right-\[30\%\] {
        right: 30%
    }

    .bottom-0 {
        bottom: calc(var(--spacing)*0)
    }

    .bottom-\[20\%\] {
        bottom: 20%
    }

    .left-0 {
        left: calc(var(--spacing)*0)
    }

    .left-1\/2 {
        left: 50%
    }

    .left-\[30\%\] {
        left: 30%
    }

    .isolate {
        isolation: isolate
    }

    .z-10 {
        z-index: 10
    }

    .z-9999,.z-\[9999\] {
        z-index: 9999
    }

    .z-behind {
        z-index: var(--z-index-behind)
    }

    .col-span-1 {
        grid-column: span 1/span 1
    }

    .col-span-4 {
        grid-column: span 4/span 4
    }

    .col-span-full {
        grid-column: 1/-1
    }

    .container {
        width: 100%
    }

    @media (min-width: 40rem) {
        .container {
            max-width:40rem
        }
    }

    @media (min-width: 48rem) {
        .container {
            max-width:48rem
        }
    }

    @media (min-width: 64rem) {
        .container {
            max-width:64rem
        }
    }

    @media (min-width: 80rem) {
        .container {
            max-width:80rem
        }
    }

    @media (min-width: 96rem) {
        .container {
            max-width:96rem
        }
    }

    .mx-1 {
        margin-inline:calc(var(--spacing)*1)}

    .mx-auto {
        margin-inline: auto
    }

    .mt-2 {
        margin-top: calc(var(--spacing)*2)
    }

    .mt-4 {
        margin-top: calc(var(--spacing)*4)
    }

    .mt-\[1em\] {
        margin-top: 1em
    }

    .mt-auto {
        margin-top: auto
    }

    .mb-4 {
        margin-bottom: calc(var(--spacing)*4)
    }

    .ml-\[calc\(1em\+--spacing\(4\)\)\] {
        margin-left: calc(1em + calc(var(--spacing)*4))
    }

    .ml-auto {
        margin-left: auto
    }

    .block {
        display: block
    }

    .contents {
        display: contents
    }

    .flex {
        display: flex
    }

    .grid {
        display: grid
    }

    .hidden {
        display: none
    }

    .inline {
        display: inline
    }

    .aspect-square {
        aspect-ratio: 1
    }

    .aspect-video {
        aspect-ratio: var(--aspect-video)
    }

    .size-13 {
        width: calc(var(--spacing)*13);
        height: calc(var(--spacing)*13)
    }

    .size-\[0\.8em\] {
        width: .8em;
        height: .8em
    }

    .size-\[1em\] {
        width: 1em;
        height: 1em
    }

    .size-\[33\%\] {
        width: 33%;
        height: 33%
    }

    .size-\[80svh\] {
        width: 80svh;
        height: 80svh
    }

    .size-auto\! {
        width: auto!important;
        height: auto!important
    }

    .size-full {
        width: 100%;
        height: 100%
    }

    .h-\(--desired-height\,auto\) {
        height: var(--desired-height,auto)
    }

    .h-1 {
        height: calc(var(--spacing)*1)
    }

    .h-18 {
        height: calc(var(--spacing)*18)
    }

    .h-26 {
        height: calc(var(--spacing)*26)
    }

    .h-28 {
        height: calc(var(--spacing)*28)
    }

    .h-60 {
        height: calc(var(--spacing)*60)
    }

    .h-200 {
        height: calc(var(--spacing)*200)
    }

    .h-\[50svh\] {
        height: 50svh
    }

    .h-full {
        height: 100%
    }

    .min-h-0 {
        min-height: calc(var(--spacing)*0)
    }

    .w-\(--desired-width\,auto\) {
        width: var(--desired-width,auto)
    }

    .w-200 {
        width: calc(var(--spacing)*200)
    }

    .w-320 {
        width: calc(var(--spacing)*320)
    }

    .w-400 {
        width: calc(var(--spacing)*400)
    }

    .w-auto {
        width: auto
    }

    .w-fit {
        width: fit-content
    }

    .w-full {
        width: 100%
    }

    .max-w-800 {
        max-width: calc(var(--spacing)*800)
    }

    .max-w-full {
        max-width: 100%
    }

    .flex-1 {
        flex: 1
    }

    .shrink-0 {
        flex-shrink: 0
    }

    .origin-left {
        transform-origin: 0
    }

    .-translate-x-1\/2 {
        --tw-translate-x: calc(calc(1/2*100%)*-1);
        translate: var(--tw-translate-x)var(--tw-translate-y)
    }

    .-translate-y-\[60\%\] {
        --tw-translate-y: calc(60%*-1);
        translate: var(--tw-translate-x)var(--tw-translate-y)
    }

    .transform {
        transform: var(--tw-rotate-x,)var(--tw-rotate-y,)var(--tw-rotate-z,)var(--tw-skew-x,)var(--tw-skew-y,)
    }

    .transform-none\! {
        transform: none!important
    }

    .animate-pulse {
        animation: var(--animate-pulse)
    }

    .cursor-pointer {
        cursor: pointer
    }

    .resize {
        resize: both
    }

    .list-decimal {
        list-style-type: decimal
    }

    .list-disc {
        list-style-type: disc
    }

    .auto-rows-fr {
        grid-auto-rows: minmax(0,1fr)
    }

    .grid-cols-1 {
        grid-template-columns: repeat(1,minmax(0,1fr))
    }

    .grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .grid-cols-12 {
        grid-template-columns: repeat(12,minmax(0,1fr))
    }

    .grid-cols-\[auto_1fr\] {
        grid-template-columns: auto 1fr
    }

    .flex-col {
        flex-direction: column
    }

    .place-items-center {
        place-items: center
    }

    .items-center {
        align-items: center
    }

    .justify-between {
        justify-content: space-between
    }

    .justify-center {
        justify-content: center
    }

    .gap-2 {
        gap: calc(var(--spacing)*2)
    }

    .gap-4 {
        gap: calc(var(--spacing)*4)
    }

    .gap-8 {
        gap: calc(var(--spacing)*8)
    }

    .gap-16 {
        gap: calc(var(--spacing)*16)
    }

    .gap-\[1em\] {
        gap: 1em
    }

    .gap-x-16 {
        column-gap: calc(var(--spacing)*16)
    }

    .gap-y-8 {
        row-gap: calc(var(--spacing)*8)
    }

    .truncate {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }

    .overflow-hidden {
        overflow: hidden
    }

    .overflow-x-auto {
        overflow-x: auto
    }

    .overflow-y-auto {
        overflow-y: auto
    }

    .overscroll-none {
        overscroll-behavior: none
    }

    .rounded-2 {
        border-radius: var(--radius-2)
    }

    .rounded-4 {
        border-radius: var(--radius-4)
    }

    .rounded-full {
        border-radius: var(--radius-full)
    }

    .border {
        border-style: var(--tw-border-style);
        border-width: 1px
    }

    .border-b {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px
    }

    .border-b-0 {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 0
    }

    .border-l-2 {
        border-left-style: var(--tw-border-style);
        border-left-width: 2px
    }

    .border-grey {
        border-color: var(--color-grey)
    }

    .border-transparent {
        border-color: transparent
    }

    .bg-black {
        background-color: var(--color-black)
    }

    .bg-black-deep\/70 {
        background-color: rgba(0,0,0,.7)
    }

    @supports (color: color-mix(in lab, red, red)) {
        .bg-black-deep\/70 {
            background-color:color-mix(in oklab,var(--color-black-deep)70%,transparent)
        }
    }

    .bg-grey {
        background-color: var(--color-grey)
    }

    .bg-white {
        background-color: var(--color-white)
    }

    .bg-white\/10 {
        background-color: rgba(255,255,255,.1)
    }

    @supports (color: color-mix(in lab, red, red)) {
        .bg-white\/10 {
            background-color:color-mix(in oklab,var(--color-white)10%,transparent)
        }
    }

    .fill-white {
        fill: var(--color-white)
    }

    .object-contain {
        object-fit: contain
    }

    .object-cover {
        object-fit: cover
    }

    .p-2 {
        padding: calc(var(--spacing)*2)
    }

    .p-4 {
        padding: calc(var(--spacing)*4)
    }

    .p-8 {
        padding: calc(var(--spacing)*8)
    }

    .p-16 {
        padding: calc(var(--spacing)*16)
    }

    .px-4 {
        padding-inline:calc(var(--spacing)*4)}

    .px-8 {
        padding-inline: calc(var(--spacing)*8)
    }

    .py-4 {
        padding-block:calc(var(--spacing)*4)}

    .py-16 {
        padding-block: calc(var(--spacing)*16)
    }

    .py-100 {
        padding-block:calc(var(--spacing)*100)}

    .pt-2 {
        padding-top: calc(var(--spacing)*2)
    }

    .pt-16 {
        padding-top: calc(var(--spacing)*16)
    }

    .pt-40 {
        padding-top: calc(var(--spacing)*40)
    }

    .pb-4 {
        padding-bottom: calc(var(--spacing)*4)
    }

    .pl-8 {
        padding-left: calc(var(--spacing)*8)
    }

    .pl-24 {
        padding-left: calc(var(--spacing)*24)
    }

    .text-center {
        text-align: center
    }

    .text-left {
        text-align: left
    }

    .font-mono {
        font-family: var(--font-mono)
    }

    .text-\[150\%\] {
        font-size: 150%
    }

    .text-\[200\%\] {
        font-size: 200%
    }

    .font-semibold {
        --tw-font-weight: var(--font-weight-semibold);
        font-weight: var(--font-weight-semibold)
    }

    .break-all {
        word-break: break-all
    }

    .whitespace-nowrap {
        white-space: nowrap
    }

    .whitespace-pre-line {
        white-space: pre-line
    }

    .text-black {
        color: var(--color-black)
    }

    .text-grey {
        color: var(--color-grey)
    }

    .text-white {
        color: var(--color-white)
    }

    .text-white\/50 {
        color: rgba(255,255,255,.5)
    }

    @supports (color: color-mix(in lab, red, red)) {
        .text-white\/50 {
            color:color-mix(in oklab,var(--color-white)50%,transparent)
        }
    }

    .uppercase {
        text-transform: uppercase
    }

    .italic {
        font-style: italic
    }

    .underline {
        text-decoration-line: underline
    }

    .underline-offset-2 {
        text-underline-offset: 2px
    }

    .shadow-border-grey {
        --tw-shadow: 0 0 0 1px var(--tw-shadow-color,#797878);
        box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
    }

    .ease-in-out {
        --tw-ease: var(--ease-in-out);
        transition-timing-function: var(--ease-in-out)
    }

    .will-change-transform {
        will-change: transform
    }

    .outline-none {
        --tw-outline-style: none;
        outline-style: none
    }

    .select-none {
        -webkit-user-select: none;
        user-select: none
    }

    .\[overflow-anchor\: none\] {
        overflow-anchor:none
    }

    .\[scrollbar-width\: none\] {
        scrollbar-width:none
    }

    .not-first\: mt-\[1em\]:not(:first-child) {
        margin-top:1em
    }

    .not-first\: mt-\[2em\]:not(:first-child) {
        margin-top:2em
    }

    @media (hover: hover) {
        .hover\:border-white:hover {
            border-color:var(--color-white)
        }

        .hover\:bg-black:hover {
            background-color: var(--color-black)
        }

        .hover\:bg-transparent:hover {
            background-color: transparent
        }

        .hover\:bg-white\/10:hover {
            background-color: rgba(255,255,255,.1)
        }

        @supports (color: color-mix(in lab, red, red)) {
            .hover\:bg-white\/10:hover {
                background-color:color-mix(in oklab,var(--color-white)10%,transparent)
            }
        }

        .hover\:text-white:hover {
            color: var(--color-white)
        }

        .hover\:decoration-dashed:hover {
            text-decoration-style: dashed
        }
    }

    @media (min-width: 48rem) {
        .md\:w-400 {
            width:calc(var(--spacing)*400)
        }

        .md\:w-600 {
            width: calc(var(--spacing)*600)
        }

        .md\:grid-cols-2 {
            grid-template-columns: repeat(2,minmax(0,1fr))
        }
    }

    @media (min-width: 64rem) {
        .lg\:bottom-\[30\%\] {
            bottom:30%
        }

        .lg\:col-span-4 {
            grid-column: span 4/span 4
        }

        .lg\:col-span-8 {
            grid-column: span 8/span 8
        }

        .lg\:col-start-5 {
            grid-column-start: 5
        }

        .lg\:mr-auto {
            margin-right: auto
        }

        .lg\:ml-0 {
            margin-left: calc(var(--spacing)*0)
        }

        .lg\:block {
            display: block
        }

        .lg\:flex {
            display: flex
        }

        .lg\:-translate-y-\[70\%\] {
            --tw-translate-y: calc(70%*-1);
            translate: var(--tw-translate-x)var(--tw-translate-y)
        }

        .lg\:grid-cols-12 {
            grid-template-columns: repeat(12,minmax(0,1fr))
        }

        .lg\:gap-16 {
            gap: calc(var(--spacing)*16)
        }
    }
}

html,body {
    overscroll-behavior: none;
    background-color: var(--color-black);
    height: 100%;
    color: var(--color-white);
    flex-direction: column;
    display: flex
}

body {
    overscroll-behavior: none;
    height: 100svh;
    font-family: var(--font-sans);
    font-size: var(--text-body-14);
    line-height: var(--tw-leading,var(--text-body-14--line-height));
    letter-spacing: var(--tw-tracking,var(--text-body-14--letter-spacing));
    font-weight: var(--tw-font-weight,var(--text-body-14--font-weight));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-direction: column;
    display: flex;
    overflow: hidden
}

main {
    min-height: calc(var(--spacing)*0);
    padding-inline:calc(var(--spacing)*8);padding-bottom: calc(var(--spacing)*8);
    flex-direction: column;
    flex: 1;
    display: flex
}

img {
    -webkit-user-select: none;
    user-select: none
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

::selection {
    background-color: var(--color-white);
    color: var(--color-black)
}

button,a {
    --tw-outline-style: none;
    outline-style: none
}

button:focus-visible {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
    outline-color: var(--color-white);
    --tw-outline-style: dashed;
    outline-style: dashed
}

a:focus-visible {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
    outline-color: var(--color-white);
    --tw-outline-style: dashed;
    outline-style: dashed
}

:root {
    --sh-class: #61afef;
    --sh-identifier: #abb2bf;
    --sh-sign: #e06c75;
    --sh-property: #98c379;
    --sh-entity: #e5c07b;
    --sh-jsxliterals: #c678dd;
    --sh-string: #98c379;
    --sh-keyword: #e06c75;
    --sh-comment: #56b6c2;
    --sh-number: #61afef;
    --sh-break: transparent;
    --sh-space: transparent
}

@property --tw-translate-x {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-translate-y {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-translate-z {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-rotate-x {
    syntax: "*";
    inherits: false
}

@property --tw-rotate-y {
    syntax: "*";
    inherits: false
}

@property --tw-rotate-z {
    syntax: "*";
    inherits: false
}

@property --tw-skew-x {
    syntax: "*";
    inherits: false
}

@property --tw-skew-y {
    syntax: "*";
    inherits: false
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false
}

@property --tw-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 transparent
}

@property --tw-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-shadow-alpha {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%
}

@property --tw-inset-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 transparent
}

@property --tw-inset-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-inset-shadow-alpha {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%
}

@property --tw-ring-color {
    syntax: "*";
    inherits: false
}

@property --tw-ring-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 transparent
}

@property --tw-inset-ring-color {
    syntax: "*";
    inherits: false
}

@property --tw-inset-ring-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 transparent
}

@property --tw-ring-inset {
    syntax: "*";
    inherits: false
}

@property --tw-ring-offset-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

@property --tw-ring-offset-color {
    syntax: "*";
    inherits: false;
    initial-value: #fff
}

@property --tw-ring-offset-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 transparent
}

@property --tw-ease {
    syntax: "*";
    inherits: false
}

@property --tw-outline-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@keyframes pulse {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: .5
    }
}

@font-face {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/fde4e88984614a46-s.1c61be5b.woff2)format("woff2");
    unicode-range: U+460-52F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/cd8868152a8e05a2-s.360522cb.woff2)format("woff2");
    unicode-range: U+301,U+400-45F,U+490-491,U+4B0-4B1,U+2116
}

@font-face {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/13384cdee973a464-s.16d2bd4c.woff2)format("woff2");
    unicode-range: U+1F??
}

@font-face {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/e550f72b5719cd90-s.7bfff560.woff2)format("woff2");
    unicode-range: U+370-377,U+37A-37F,U+384-38A,U+38C,U+38E-3A1,U+3A3-3FF
}

@font-face {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/6a5044bd7c23e87b-s.91eff3d1.woff2)format("woff2");
    unicode-range: U+100-2BA,U+2BD-2C5,U+2C7-2CC,U+2CE-2D7,U+2DD-2FF,U+304,U+308,U+329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/f993dba6660b9bd1-s.p.c21cf68e.woff2)format("woff2");
    unicode-range: U+??,U+131,U+152-153,U+2BB-2BC,U+2C6,U+2DA,U+2DC,U+304,U+308,U+329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family: Ubuntu Mono Fallback;
    src: local(Arial);
    ascent-override:74.0%;descent-override:15.16%;line-gap-override:0.0%;size-adjust:112.16%}

.ubuntu_mono_900a296f-module__g69Pua__className {
    font-family: Ubuntu Mono,Ubuntu Mono Fallback;
    font-style: normal;
    font-weight: 400
}

.ubuntu_mono_900a296f-module__g69Pua__variable {
    --font-ubuntu-mono: "Ubuntu Mono","Ubuntu Mono Fallback"
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/2c55a0e60120577a-s.2a48534a.woff2)format("woff2");
    unicode-range: U+460-52F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/9c72aa0f40e4eef8-s.18a48cbc.woff2)format("woff2");
    unicode-range: U+301,U+400-45F,U+490-491,U+4B0-4B1,U+2116
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/ad66f9afd8947f86-s.7a40eb73.woff2)format("woff2");
    unicode-range: U+1F??
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/5476f68d60460930-s.c995e352.woff2)format("woff2");
    unicode-range: U+370-377,U+37A-37F,U+384-38A,U+38C,U+38E-3A1,U+3A3-3FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/2bbe8d2671613f1f-s.76dcb0b2.woff2)format("woff2");
    unicode-range: U+102-103,U+110-111,U+128-129,U+168-169,U+1A0-1A1,U+1AF-1B0,U+300-301,U+303-304,U+308-309,U+323,U+329,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/1bffadaabf893a1e-s.7cd81963.woff2)format("woff2");
    unicode-range: U+100-2BA,U+2BD-2C5,U+2C7-2CC,U+2CE-2D7,U+2DD-2FF,U+304,U+308,U+329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/83afe278b6a6bb3c-s.p.3a6ba036.woff2)format("woff2");
    unicode-range: U+??,U+131,U+152-153,U+2BB-2BC,U+2C6,U+2DA,U+2DC,U+304,U+308,U+329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/2c55a0e60120577a-s.2a48534a.woff2)format("woff2");
    unicode-range: U+460-52F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/9c72aa0f40e4eef8-s.18a48cbc.woff2)format("woff2");
    unicode-range: U+301,U+400-45F,U+490-491,U+4B0-4B1,U+2116
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/ad66f9afd8947f86-s.7a40eb73.woff2)format("woff2");
    unicode-range: U+1F??
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/5476f68d60460930-s.c995e352.woff2)format("woff2");
    unicode-range: U+370-377,U+37A-37F,U+384-38A,U+38C,U+38E-3A1,U+3A3-3FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/2bbe8d2671613f1f-s.76dcb0b2.woff2)format("woff2");
    unicode-range: U+102-103,U+110-111,U+128-129,U+168-169,U+1A0-1A1,U+1AF-1B0,U+300-301,U+303-304,U+308-309,U+323,U+329,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/1bffadaabf893a1e-s.7cd81963.woff2)format("woff2");
    unicode-range: U+100-2BA,U+2BD-2C5,U+2C7-2CC,U+2CE-2D7,U+2DD-2FF,U+304,U+308,U+329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../media/83afe278b6a6bb3c-s.p.3a6ba036.woff2)format("woff2");
    unicode-range: U+??,U+131,U+152-153,U+2BB-2BC,U+2C6,U+2DA,U+2DC,U+304,U+308,U+329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family: Inter Fallback;
    src: local(Arial);
    ascent-override:90.44%;descent-override:22.52%;line-gap-override:0.0%;size-adjust:107.12%}

.inter_e03916c-module__o9l_vW__className {
    font-family: Inter,Inter Fallback;
    font-style: normal
}

.inter_e03916c-module__o9l_vW__variable {
    --font-inter: "Inter","Inter Fallback"
}
