:root {
  /* Color */
  --color-black: #232323;
  --color-black-deep: #000000;
  --color-white: #ffffff;
  --color-grey: #797878;

  /* Spacing System */
  --space-unit: 0.0625rem; /* 1px */
  --space-2: calc(var(--space-unit) * 2);
  --space-4: calc(var(--space-unit) * 4);
  --space-8: calc(var(--space-unit) * 8);
  --space-16: calc(var(--space-unit) * 16);

  /* Radius */
  --radius-2: calc(var(--space-unit) * 2);
  --radius-4: calc(var(--space-unit) * 4);
  --radius-full: 9999px;

  /* Z-index */
  --z-behind: -1;

  /* Typography */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-mono: var(--font-ubuntu-mono), ui-monospace;

  --text-body-14: clamp(
    12px,
    calc(12px + (14 - 12) * ((100vw - 375px) / (1600 - 375))),
    14px
  );
  --text-body-line: 1.3;
}

/* ================================
   Global Minimal Rules
   ================================ */

html,
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-sans);
  overscroll-behavior: none;
}

body {
  height: 100svh !important;
  overflow: hidden;
}

::selection {
  background: var(--color-white);
  color: var(--color-black);
}
