/* Defines the core values ​​of your design system, including font load, color, spacing, and variables. */

/* --- Fonts --- */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'), 
         url('../fonts/HelveticaNeue-Medium.woff') format('woff'), 
         url('../fonts/HelveticaNeue-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Bold.woff2') format('woff2'), 
         url('../fonts/MonumentExtended-Bold.woff') format('woff'), 
         url('../fonts/MonumentExtended-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Ultrabold.woff2') format('woff2'), 
         url('../fonts/MonumentExtended-Ultrabold.woff') format('woff'), 
         url('../fonts/MonumentExtended-Ultrabold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* --- Variables --- */
:root {
    /* Viewport Height Fix */
    --vh-in-px: 8px;
    --vh: var(--vh-in-px);

    /* Colors */
    --color-dark-rgb: 0, 0, 0;
    --color-dark: rgba(var(--color-dark-rgb), 1);
    
    --color-light-rgb: 255, 255, 255;
    --color-light: rgba(var(--color-light-rgb), 1);
    
    --color-white-rgb: 255, 255, 255;
    --color-white: rgba(var(--color-white-rgb), 1);
    
    --color-black-rgb: 0, 0, 0;
    --color-black: rgba(var(--color-black-rgb), 1);

    --color-primary: var(--color-dark);
    --color-lightgray: #E9E9E9;

    --color-border: var(--color-lightgray);
    --color-border-light: rgba(var(--color-light-rgb), 0.25);
    
    --color-text: rgba(var(--color-dark-rgb), 1);
    --color-text-light: rgba(var(--color-light-rgb), 1);

    --color-alert-error: #d90000;
    --color-alert-success: #00a210;

    /* Animations */
    --animation-fast: 0.35s cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --animation-smooth: 1.47s cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --animation-smooth-faster: 1.25s cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --animation-ease: 0.735s ease;
    --animation-ease-fast: 0.3s ease;
    --stagger-primary: 0.07s;

    /* Spacing & Grid */
    --title-size: clamp(5rem, 7.5vw, 10rem);
    --section-padding: calc(var(--title-size) * 1.25);
    
    --gap: calc(var(--title-size) * 0.2);
    --gap-s: calc(var(--gap) * 0.66);
    --gap-l: calc(var(--gap) * 2);
    --gap-xl: calc(var(--gap) * 3);
    
    --container-padding: var(--gap);
    --row-gap: var(--gap);
    --col-gap: var(--gap);

    --main-grid-gap: var(--gap);
    --main-grid-columns: 12;
    --main-grid-column-width: calc(((99.99vw - (var(--container-padding) * 2)) / var(--main-grid-columns)) - (var(--main-grid-gap) * ((var(--main-grid-columns) - 1) / var(--main-grid-columns))));
    
    --border-radius: 0;

    /* Sizes */
    --nav-height: calc((1.1em * 1.1 * 1.4) + (var(--gap) * 2));
    --btn-height: 2.75em;
    --nav-bar-height: calc(var(--btn-height) + (var(--row-gap * 2)));
}

/* --- Dark Theme Override --- */
[data-theme-section="dark"] {
    --color-border: rgba(var(--color-light-rgb), 0.25);
    --color-text: rgba(var(--color-light-rgb), 1);
}

/* --- Media Queries for Variables --- */
@media (hover: hover) {
    :root {
        --vh: 1vh;
    }
    @supports (height: 1svh) { 
        :root { --vh: 1svh; }
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --container-padding: var(--col-gap);
        --main-grid-columns: 6;
    }
}

@media screen and (max-width: 540px) {
    :root {
        --main-grid-columns: 4;
    }
}
