/* Document */
*,
*::before,
*::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

* {
	margin: 0;
    padding: 0;
}

html {
	line-height: 1.3;

	/* Text Rendering Quality */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
   
	/* Text Scaling (Mobile) */
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	
	/* Tab Navigation */
	tab-size: 4;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
}

/* Text-level */
b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
    font-weight: inherit;
}

/* Links */
a {
	color: inherit;
    text-decoration: none;
}

/* Lists */
ul,
ol {
	list-style: none;
}

/* Tabular data */
table {
	border-color: currentcolor;
	border-collapse: collapse;
    border-spacing: 0;
}

/* Media */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;

	/* Image Rendering Quality */
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
}

/* Input & Forms */
button,
input,
optgroup,
select,
textarea {
	font: inherit;
	color: inherit;
	margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}

a,
button,
input,
select,
textarea,
[role="button"] {
	/* Remove Touch Delay */
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

input,
textarea,
select {
	/* Remove iOS Default Styles */
	-webkit-appearance: none;
	appearance: none;
}

button {
    border: none;
    background: none;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield; 
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button; 
	font: inherit; 
}

/* Interactive */
summary {
	display: list-item;
}

/* Accessibility */
:focus-visible {
	outline: 2px solid currentColor;
    outline-offset: 2px;
}
