/* =========================================================
   Header
========================================================= */

.header {
  display: grid;
  grid-template-columns: auto 1fr;
   
  gap: var(--space-8);
  padding: var(--space-8);
  padding-inline: var(--space-8);
}

/* ---------------------------------------------------------
   Logo
--------------------------------------------------------- */

.header__logo {
  grid-column: span 1/span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-container {
  user-select: none;
  display: flex;
  height: var(--space-18);
  align-items: center;
  gap: var(--space-8);
}

.header__logo-avatar {
  display: contents;
}

.header__logo-avatar-image {
  height: var(--desired-height,auto);
  width: var(--desired-width,auto);
  max-width: 100%;
  border-radius: var(--radius-full);
  object-fit: cover
}

.header__logo-name {
  font-weight: 600;
}

/* ---------------------------------------------------------
   Navigation
--------------------------------------------------------- */

.header__nav {
  display: flex;
  justify-content: center;
  gap: var(--space-6);
}

.header__nav-link {
  font-family: var(--font-sans);
  font-size: var(--font-body-2-size);
  line-height: var(--font-body-2-line-height);
  font-weight: var(--font-body-2-weight);

  color: var(--color-white);
  opacity: 0.6;

  transition: opacity 0.15s ease;
}

.header__nav-link:hover,
.header__nav-link:focus-visible {
  opacity: 1;
}

.header__nav-link.is-active {
  opacity: 1;
}

/* ---------------------------------------------------------
   Tools
--------------------------------------------------------- */

.header__tools {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);

  font-family: var(--font-mono);
  font-size: var(--font-mono-1-size);
  line-height: var(--font-mono-1-line-height);
  font-weight: var(--font-mono-1-weight);

  color: var(--color-white);
  opacity: 0.6;
}

/* ---------------------------------------------------------
   Responsive size
--------------------------------------------------------- */

@media (min-width: 64rem) {
  .header {
    grid-template-columns: repeat(12,minmax(0,1fr));
    gap: var(--space-16);
  }

  .header__logo {
    grid-column: span 4/span 4;
  }
}
