/* =========================================================
   Header
========================================================= */

.header {
  display: grid;
  grid-template-columns: auto 1fr;
   
  gap: var(--space-8);
  padding: var(--space-8);
  padding-inline: var(--space-8);
}

.header__left {
  grid-column: span 1/span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__right {
  grid-column: span 1/span 1;
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

/* ---------------------------------------------------------
   Logo
--------------------------------------------------------- */

.header__logo {
  user-select: none;
  display: flex;
  height: var(--space-18);
  align-items: center;
  gap: var(--space-8);
}

.header__logo-avatar {
  display: contents;
}

.header__logo-avatar-image {
  height: var(--desired-height,auto);
  width: var(--desired-width,auto);
  max-width: 100%;
  border-radius: var(--radius-full);
  object-fit: cover
}

.header__logo-name {
  font-weight: 600;
}

/* ---------------------------------------------------------
   Navigation
--------------------------------------------------------- */

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  height: var(--space-18);
  align-items: center;
  gap: var(--space-8);
}

.header__nav-list-item {
  user-select: none;
  font-weight: 600;
  color: rgba(255,255,255,.5);
}

@supports (color: color-mix(in lab, red, red)) {
  .header__nav-list-item {
    color: color-mix(in oklab,var(--color-white)50%,transparent);
  }
}

.header__nav-list-item:hover {
  color: var(--color-white);
}

.header__nav-link.is-active {
  color: var(--color-white);
}

/* ---------------------------------------------------------
   Tools
--------------------------------------------------------- */

.header__tools {
  display: none;
}

.header__tools-container {
  display: flex;
  height: var(--space-18);
  align-items: center;
  gap: var(--space-16);
}

.header__tools-search {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: var(--space-8);
}

.header__tools-search-icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.header__tools-kbd {
  display: flex;
  height: var(--space-18);
  align-items: center;
  gap: var(--space-4);
  border-radius: var(--radius-sm);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-grey);
  padding-inline: var(--space-4);
}

.header__tools-kbd-inner {
  display: block;
  padding-top: var(--space-2);
}

.header__clock {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  font-family: var(--font-mono);
}

.header__location {
  text-transform: uppercase;
}

/* ---------------------------------------------------------
   Responsive size
--------------------------------------------------------- */

@media (min-width: 64rem) {
  .header {
    grid-template-columns: repeat(12,minmax(0,1fr));
    gap: var(--space-16);
  }

  .header__left {
    grid-column: span 4/span 4;
  }

  .header__right {
    grid-column: span 8/span 8;
    grid-column-start: 5;
  }

  .header__nav {
    margin-right: auto;
    margin-left: var(--space-0);
  }

  .header__nav-list {
    gap: var(--space-16);
  }

  .header__tools {
    display: block;
  }
}
