/* =========================================================
   Layout
========================================================= */

#page {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-black);

  padding-inline: var(--space-8);
  padding-bottom: var(--space-8);
}
