/* =========================================================
   Layout
========================================================= */

#page {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  padding-inline: var(--space-8);
  padding-bottom: var(--space-8);
}
