/* 전체 트랙 (Track) */
.w-preview-w {
    position: absolute; /* fixed가 아닌 absolute */
    top: 0;
    right: 40px;
    width: 60px;
    will-change: transform;
    z-index: 1000;
}

/* 개별 아이템 (Item) */
.w-preview {
    position: relative;
    width: 60px; /* 고정 너비 */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: opacity 0.3s;
}

.w-preview img {
    width: 100%;
    height: auto;
    display: block;
}

/* 뷰어 (Viewer / 현재 위치 표시창) */
.w-preview-area {
    position: absolute;
    left: -5px; /* 아이템보다 약간 넓게 */
    width: 70px;
    border: 1px solid #000;
    pointer-events: none;
    z-index: 10;
    will-change: transform;
}
