/* Modal (About) */
.modal-about {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--unit) * 320);
}

@media (min-width: 48rem) {
  .modal-about {
    width: calc(var(--unit) * 400);
  }
}
