.SectionContainer {
  color: var(--fg-primary);
}

.SectionContainer[data-component] {
  margin: calc(var(--section-spacing) * 0.5) 0;
}

.SectionContainer:first-child {
  margin-top: 0;
  padding-top: var(--section-spacing);
}

.SectionContainer:last-child {
  margin-bottom: 0;
  padding-bottom: calc(var(--section-spacing) * 0.5);
}

.SectionContainer.isInfiniteDuplicate {
  height: 100svh;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  padding-top: var(--section-spacing);
}

@media(max-width: 60.4375rem) {
  .SectionContainer.hiddenOnMobile {
    display: none !important;
  }
}
