/* Window (Common) */
.window__titlebar {
  display: flex;
  height: calc(var(--unit) * 26);
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1);
}

.window__content-area {
  position: relative;
  isolation: isolate;
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  gap: var(--space-1);
  overflow: hidden;
  overflow-y: auto;
  border-radius: var(--radius-sm);
  padding: var(--space-1);
  border: 1px solid var(--border);
  scrollbar-width: none;
}

/* Window (About) */
.window-about {
  position: absolute;
}

/* Window (Works) */
.window-works {
  position: relative;
}

/* Window (Lab) */
.window-lab {
  position: absolute;
}

/* Window (Showreel) */
.window-showreel {
  position: absolute;
}
