/* =========================================================
   Font Faces
========================================================= */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.yoursite.com/fonts/Inter-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.yoursite.com/fonts/Inter-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.yoursite.com/fonts/UbuntuMono-Regular.woff2')
    format('woff2');
}
