/* =========================================================
   Accessibility
========================================================= */

::selection {
  background-color: var(--color-white);
  color: var(--color-black);
}

button,
a {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 1px dashed var(--color-white);
  outline-offset: 2px;
}
