/* =========================================================
   Base Styles
========================================================= */

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

body {
  display: flex;
  flex-direction: column;

  font-family: var(--font-sans);
  font-size: var(--text-body);
  line-height: var(--text-body-line-height);
  font-weight: var(--text-body-weight);

  color: var(--color-white);
  background-color: var(--color-black);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

/* main wrapper */
main {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-8);
  padding-bottom: var(--space-8);
}

/* links & buttons */
a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: button;
  cursor: pointer;
}
