html, 
body {
	height: 100%;
	overscroll-behavior: none;

	/* Color */
	background-color: var(--bg-primary);
	color: var(--text-primary);

	display: flex;
	flex-direction: column;	
}

body {
	/* Layout */
	overscroll-behavior: none;
    height: 100svh;
	display: flex;
	flex-direction: column;
	
	/* Typography */
	font-family: var(--font-sans);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	line-height: calc(var(--line-height-normal) * var(--line-height-adjust, 1));
	letter-spacing: var(--letter-spacing-default, var(--letter-spacing-normal));
		
	/* Scrollbar (hidden) */
	overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

main {
	min-height: var(--space-0);
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-inline: var(--space-8);
	padding-bottom: var(--space-8);
}

/* #page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: var(--bg-primary);
	padding-inline: var(--space-8);
	padding-bottom: var(--space-8);
} */

.font-body {
	font-family: var(--font-sans);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}

.font-body-accent {
	font-family: var(--font-sans);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}

.font-mono {
	font-family: var(--font-mono);
	font-size: var(--font-size-mono);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}

img {
	-webkit-user-select: none;
    user-select: none;
}

button,
a {
	outline-style: none;
}

::selection {
	background-color: var(--text-primary);
	color: var(--bg-primary);
}

:focus-visible {
	outline: 1px solid var(--text-primary);
}

@media print {
	header,
	footer,
	nav,
	.no-print {
		display: none !important;
	}
	
	* {
		background: transparent !important;
		box-shadow: none !important;
	}
}
