/* =========================================================
   Reset
   (based on Tailwind base layer)
========================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  border-radius: 0;
}

ul,
ol,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
