/* =========================================================
   Color Tokens
========================================================= */

:root {
  --color-black: #232323;
  --color-black-deep: #000000;
  --color-white: #ffffff;
  --color-grey: #797878;
}
