:root {
	/* Pure Colors */
	--white: #ffffff;
	--black: #000000;
	
	/* Primitive Colors */
	--dark-1: #0e0e0e;
	--dark-2: #28282a;

	--light-1: #f1f1f1;
	--light-2: #eceae5;

	/* Point Colors */
	--accent: #ff4401;
}

/* Theming (Dark) */
:root,
html[data-theme="dark"] {
	/* Backgrounds */
	--bg: var(--dark-1);
	--bg-inverse: var(--light-2);
	
	--image-bg: color-mix(in srgb, var(--white) 24%, transparent);
	--image-bg-inverse: color-mix(in srgb, var(--black) 18%, transparent);
	
	/* Text */
	--fg-primary: var(--light-2);
	--fg-secondary: color-mix(in srgb, var(--light-2) 50%, transparent);

	--fg-accent: var(--accent);
	--fg-on-accent: var(--dark-1);
	
	--fg-inverse: var(--dark-2);
	
	/* Alpha variants */
	--neutral-100: color-mix(in srgb, var(--white) 16%, transparent);
	--neutral-200: color-mix(in srgb, var(--white) 24%, transparent);
	--neutral-300: color-mix(in srgb, var(--white) 40%, transparent);

	/* Code Highlighter */
	--ch-background: color-mix(in srgb, var(--white) 24%, transparent);
	--ch-identifier: #e5e7eb;
	--ch-keyword: #f472b6;
	--ch-class: #93c5fd;
	--ch-function: #7dd3fc;
	--ch-property: #86efac;
	--ch-string: #86efac;
	--ch-number: #60a5fa;
	--ch-entity: #fde68a;
	--ch-jsxliterals: #c4b5fd;
	--ch-comment: #9ca3af;
	--ch-sign: #fca5a5;
	--ch-break: transparent;
	--ch-space: transparent;
		
	/* Color Scheme */
	color-scheme: dark;
}

/* Theming (Light) */
html[data-theme="light"] {
	/* Backgrounds */
	--bg: var(--light-2);
	--bg-inverse: var(--dark-1);

	--image-bg: color-mix(in srgb, var(--black) 18%, transparent);
	--image-bg-inverse: color-mix(in srgb, var(--white) 24%, transparent);
	
	/* Text */
	--fg-primary: var(--dark-2);
	--fg-secondary: color-mix(in srgb, var(--dark-2) 50%, transparent);
	
	--fg-accent: var(--accent);
	--fg-on-accent: var(--dark-1);
	
	--fg-inverse: var(--light-2);
	
	/* Alpha variants */
	--neutral-100: color-mix(in srgb, var(--black) 12%, transparent);
	--neutral-200: color-mix(in srgb, var(--black) 18%, transparent);
	--neutral-300: color-mix(in srgb, var(--black) 46%, transparent);

	/* Code Highlighter */
	--ch-background: color-mix(in srgb, var(--black) 18%, transparent);
	--ch-identifier: #1f2937;
	--ch-keyword: #9f1239;
	--ch-class: #1d4ed8;
	--ch-function: #0369a1;
	--ch-property: #065f46;
	--ch-string: #065f46;
	--ch-number: #1e40af;
	--ch-entity: #92400e;
	--ch-jsxliterals: #6d28d9;
	--ch-comment: #6b7280;
	--ch-sign: #b91c1c;
	--ch-break: transparent;
	--ch-space: transparent;
	
	/* Color Scheme */
	color-scheme: light;
}

/* Theming (System) */
@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		/* Backgrounds */
	    --bg: var(--dark-1);
	    --bg-inverse: var(--light-2);

		--image-bg: color-mix(in srgb, var(--white) 24%, transparent);
		--image-bg-inverse: color-mix(in srgb, var(--black) 18%, transparent);
		
		/* Text */
		--fg-primary: var(--light-2);
		--fg-secondary: color-mix(in srgb, var(--light-2) 50%, transparent);
		
		--fg-accent: var(--accent);
		--fg-on-accent: var(--dark-1);
		
		--fg-inverse: var(--dark-2);
		
		/* Alpha variants */
		--neutral-100: color-mix(in srgb, var(--white) 16%, transparent);
		--neutral-200: color-mix(in srgb, var(--white) 24%, transparent);
		--neutral-300: color-mix(in srgb, var(--white) 40%, transparent);
		
		/* Code Highlighter */
		--ch-background: color-mix(in srgb, var(--white) 24%, transparent);
		--ch-identifier: #e5e7eb;
		--ch-keyword: #f472b6;
		--ch-class: #93c5fd;
		--ch-function: #7dd3fc;
		--ch-property: #86efac;
		--ch-string: #86efac;
		--ch-number: #60a5fa;
		--ch-entity: #fde68a;
		--ch-jsxliterals: #c4b5fd;
		--ch-comment: #9ca3af;
		--ch-sign: #fca5a5;
		--ch-break: transparent;
		--ch-space: transparent;

		/* Color Scheme */
		color-scheme: dark;
	}
}

/* Theme Transition */
/* @media (prefers-reduced-motion: no-preference) {
	html[data-theme] * {
		transition:
			background-color 0.4s ease,
			color 0.4s ease,
			border-color 0.4s ease;
	}
} */
