:root {
   --radius-none: 0;
   --radius-sm: .125rem;         /* 2px */
   --radius-md: .3125rem;        /* 5px */
   --radius-lg: .8125rem;        /* 13px */
   --radius-full: 9999px;        /* Circular */
}
