/* =========================================================
   Radius Tokens
========================================================= */

:root {
  --radius-xs: calc(var(--space-unit) * 2);
  --radius-sm: calc(var(--space-unit) * 4);
  --radius-md: calc(var(--space-unit) * 6);
  --radius-lg: calc(var(--space-unit) * 8);
  --radius-xl: calc(var(--space-unit) * 12);
  --radius-2xl: calc(var(--space-unit) * 16);
  --radius-full: 9999px;
}
