:root {
   --radius-none: 0;
   --radius-sm: 0.125rem;         /* 2px */
   --radius-md: 0.3125rem;        /* 5px */
   --radius-lg: 0.8125rem;        /* 13px */
   --radius-full: 9999px;        /* Circular */
}
