/* Font Stacks */
:root {
	--font-sans: 
		"Pretendard Variable",
		"Pretendard Fallback EN",
		"Pretendard Fallback KR Mac",
		"Pretendard Fallback KR Win",
		"Pretendard Fallback Universal",
		-apple-system, BlinkMacSystemFont, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--font-mono:
		"Monaspace Neon Variable",
		"Monaspace Neon Fallback Mac",
		"Monaspace Neon Fallback Win",
		"Monaspace Neon Fallback Universal",
		ui-monospace, monospace;

  --font-primary: var(--font-sans);
  --font-secondary: var(--font-mono);
}

/* Font Sizes (Fluid) */
:root {
	--display--font-size: clamp(
		2.5rem, 1.813rem + 5.84vw, 9.229rem
	);

	--display-lg--font-size: clamp(
		4.2rem, 3.142rem + 6.24vw, 11.032rem
	);
	
	--h1--font-size: clamp(
		3.02rem, 2.32rem + 4.2vw, 7.52rem
	);

	--h2--font-size: clamp(
		2.39rem, 1.95rem + 2.2vw, 4.59rem
	);

	--h3--font-size: clamp(
		1.9rem, 2.6rem + 1.02vw, 3.5rem
	);

	--h4--font-size: clamp(
		1.51rem, 1.358rem + 0.76vw, 2.268rem
	);

	--h5--font-size: clamp(
		1.2rem, 1.126rem + 0.37vw, 1.571rem
	);

	--h6--font-size: clamp(
		0.95rem, 0.922rem + 0.14vw, 1.092rem
	);
	
	--body-lg--font-size: clamp(
		1.25rem, 1.06rem + 0.26vw, 1.6rem
	);
	
	--body-md--font-size: clamp(
		1rem, 0.986rem + 0.07vw, 1.071rem
	);

	--body-sm--font-size: clamp(
		0.875rem, 0.800rem + 0vw, 0.875rem
	);
	
	--mono--font-size: clamp(
		1rem, 0.986rem + 0.07vw, 1.071rem
	);
}

/* Font Weights */
:root {
	--font-weight-regular: 450;
	--font-weight-semibold: 550;
}

/* Line Heights */
:root {
	--line-height-tight: 0.95em;
	--line-height-normal: 1.05em;
	--line-height-relaxed: 1.2em;
}

/* Letter Spacing */
:root {
	--letter-spacing-tight: -0.04em;
	--letter-spacing-normal: -0.01em;
	--letter-spacing-relaxed: 0em;
}

/* Text Utilities */
.text-display {
	font-family: var(--font-primary);
	font-size: var(--font-size-display);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}

.font-body {
	font-family: var(--font-primary);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}

.font-body-accent {
	font-family: var(--font-primary);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}

.font-mono {
	font-family: var(--font-secondary);
	font-size: var(--font-size-mono);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-normal);
	letter-spacing: var(--letter-spacing-normal);
}
