/* Fluid System */
:root {
	/* Viewport */
    --vp-min: 360;
    --vp-max: 2560;
	
	/* Base Unit (1px = 0.0625rem) */
    --unit: 0.0625rem;
	
	/* Fluid Screen Width */
    --fluid-screen: 100vw;
	
	/* Fluid Unit Calculation */
    --fluid-unit: calc(
		(var(--fluid-screen) - calc(var(--unit) * var(--vp-min))) / 
		(var(--vp-max) - var(--vp-min))
	)
}

/* dvw Supported Browsers */
@supports (width: 1dvw) {
	:root {
		--fluid-screen: 100dvw;
	}
}

/* Spacing System */
:root {
	/* Base Spacing Unit: 4px → 6px */
	--space-unit: clamp(
		calc(var(--unit) * 4),
		calc(var(--unit) * 4) + 2 * var(--fluid-unit),
		calc(var(--unit) * 6)
	);
	
	/* Fluid Scale */
	--space-0:  calc(var(--space-unit) * 0);     
	--space-1:  var(--space-unit);               /* 4px ~ 6px */
	--space-2:  calc(var(--space-unit) * 2);     /* 8px ~ 12px */
	--space-3:  calc(var(--space-unit) * 3);     /* 12px ~ 18px */
	--space-4:  calc(var(--space-unit) * 4);     /* 16px ~ 24px */
	--space-5:  calc(var(--space-unit) * 5);     /* 20px ~ 30px */
	--space-6:  calc(var(--space-unit) * 6);     /* 24px ~ 36px */
	--space-8:  calc(var(--space-unit) * 8);     /* 32px ~ 48px */
	--space-10: calc(var(--space-unit) * 10);    /* 40px ~ 60px */
	--space-12: calc(var(--space-unit) * 12);    /* 48px ~ 72px */
	--space-16: calc(var(--space-unit) * 16);    /* 64px ~ 96px */
	--space-18: calc(var(--space-unit) * 18);    /* 72px ~ 108px */
	--space-20: calc(var(--space-unit) * 20);    /* 80px ~ 120px */
	--space-24: calc(var(--space-unit) * 24);    /* 96px ~ 144px */
	--space-32: calc(var(--space-unit) * 32);    /* 128px ~ 192px */
	
	/* Fixed Scale */
	--space-4px:  0.25rem;
	--space-8px:  0.5rem;
	--space-12px: 0.75rem;
	--space-16px: 1rem;
	--space-24px: 1.5rem;
	--space-32px: 2rem;
	--space-40px: 2.5rem;
}

:root {
	--gutter: 2.1rem;
	--page-gutter: 1.5rem;
	--section-spacing: 12rem;
	--next-item-height: 16.9rem;
}

@media(min-width: 60.4375rem) {
	:root {
		--page-gutter: 2.1rem;
        --section-spacing: 26rem;
		--next-item-height: 41.5rem;
    }
}
