/* =========================================================
   Font Faces
========================================================= */

@font-face {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap')
    format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap')
    format('woff2');
}
