@font-face {
    font-family: 'Grand Bold';
    src: url('GrandBold.woff2') format('woff2'),
        url('GrandBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Bold.woff2') format('woff2'),
        url('PPNeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
        url('PPNeueMontreal-SemiBolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Regular.woff2') format('woff2'),
        url('PPNeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('PPNeueMontreal-Italic.woff2') format('woff2'),
        url('PPNeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
