/* styles/index.css */

/* 1. Fonts (resource) */
@import "./fonts/fonts.css";

/* 2. Tokens */
@import "./tokens/spacing.css";
@import "./tokens/colors.css";
@import "./tokens/radius.css";
@import "./tokens/typography.css";
@import "./tokens/motion.css";
/* @import "./tokens/z-index.css"; */
/* @import "./tokens/layout.css"; */

/* 3. Base */
@import "./base/reset.css";
@import "./base/base.css";
@import "./base/accessibility.css";

/* 4. Themes */
/* @import "./themes/dark.css"; */
/* or light.css */

/* 5. Utilities */
@import "./utilities/utilities.css";

/* 6. Components */
@import "./components/header.css";
