/* Fonts */
@import "./fonts.css";

/* Foundation */
@import "./foundation/reset.css";
@import "./foundation/variables.css";
@import "./foundation/tokens.css";
@import "./foundation/i18n.css";

/* Base */
@import "./base/base.css";

/* Components */
@import "./components/_index.css";

/* Pages */
/* @import "./pages/_index.css"; */
