*,::after,::before {
    box-sizing: border-box
}

blockquote,body,dd,dl,figcaption,figure,h1,h2,h3,h4,h5,li,ol[class],p,ul[class] {
    margin: 0;
    padding: 0
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

ol,ol[class],ul,ul[class] {
    list-style: none;
    margin: 0;
    padding: 0
}

hr {
    margin: 0
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative
}

button,input,select,textarea {
    font: inherit
}

address {
    font-style: normal
}
