:root {
   /* Viewport 범위 (Unitless) */
   --vp-min: 360;
   --vp-max: 2560;
   
   /* Base Unit (1px = 0.0625rem) */
   --unit: 0.0625rem;

   /* Fluid Screen Width (모든 브라우저용) */
   --fluid-screen: 100vw;

   /* dvw 지원 시 dvw로 덮어쓰기 */
   @supports (width: 1dvw) {
      --fluid-screen: 100dvw;
   }

   /* Fluid Unit Calculation */
   --fluid-unit: calc(
      (var(--fluid-screen) - calc(var(--unit) * var(--vp-min))) / 
      (var(--vp-max) - var(--vp-min))
   )
}
